__pycache__/
venv/
data/
mobile_model.tflite
new_env/
src/
.github/
ANDROID_BUILD_GUIDE.md
buildozer.spec
bin/
.vscode/
.idea/
.pytest_cache/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
main.py
requirements.txt
mobile_client.py
mobile_round_log.json
mobile_server.py
mobile_server_log.json
mobile_server_log.json
.gradio/
web/server/1.26.0
web/server/2.16.0
web/server/4.22.0
web/server/venv
web/server/__pycache__
web/server/data
web/client/__pycache__
web/client/downloads
